@page
@model Tweetbook.Web.Pages.Login.ExternalLoginModel
@{
}


<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>

                <p class="text-info">
                    You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
                    Please enter an email address for this site below and click the Register button to finish
                    logging in.
                </p>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Email" type="email" class="validate">
                        <label asp-for="Input.Email" data-error="wrong" data-success="right">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>


                <div class="row center">
                    <button class="btn btn-primary waves-effect waves-light" type="submit">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
